<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Experience</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Travel Recommendations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="attractions">Attractions <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="activities">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restaurants">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="share">Share Your Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="viewexperiences">View Experiences</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="createexperience">Create an Experience</a>
        </li>
      </ul>
    </div>
  </nav>
  <form action="/createexperience" method="post" enctype="multipart/form-data">
        <h2>Create an Experience</h2>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter a title">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Enter a description">
            <label for="geolocation">Geo-location</label>
            <input type="text" class="form-control" id="geolocation" name="geolocation" placeholder="Enter the geolocation">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="image" name="image">
            <label for="rating">Rating</label>
            <input type="text" class="form-control" id="rating" name="rating" placeholder="Enter a rating">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>