<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Recommendations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>

<!-- script src='script.js'></script -->
    <div class="jumbotron">
        <h1 class="display-4 text-center">Travel Recommendations</h1>
        <p class="lead text-center">Discover new attractions, activities, and restaurants</p>
    </div>
    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="home" role="tab" aria-controls="home"
            aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="attractions-tab" data-toggle="tab" href="attractions" role="tab"
            aria-controls="attractions" aria-selected="false">Attractions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="activities-tab" data-toggle="tab" href="activities" role="tab"
            aria-controls="activities" aria-selected="false">Activities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="restaurants-tab" data-toggle="tab" href="restaurants" role="tab"
            aria-controls="restaurants" aria-selected="false">Restaurants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="share-tab" data-toggle="tab" href="share" role="tab" aria-controls="share"
            aria-selected="false">Share Your Experience</a>
        </li>
    </ul>
    

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Search for a Location</h2>
                <div class="d-flex flex-row mb-3">
                    <form action="/home" method="post" id="searchForm" class="flex-grow-1">
                        <div class="form">
                            <input type="text" class="form-control" id="location" name="country" placeholder="Enter location">
                        </div>
                    </form>
                    <button type="submit" form="searchForm" class="btn btn-primary ml-2">Search</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="/images/attractions.jpg" class="card-img-top customimage" alt="Attraction Image">
                    <div class="card-body">
                        <h5 class="card-title">Attractions</h5>
                        <p class="card-text">Explore popular attractions in the area.</p>
                        <a href="attractions" class="btn btn-primary">Go to Attractions</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/images/activities.jpg" class="card-img-top customimage" alt="Attraction Image">
                    <div class="card-body">
                        <h5 class="card-title">Activities</h5>
                        <p class="card-text">Discover exciting activities to do.</p>
                        <a href="activities" class="btn btn-primary">Go to Activities</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/images/restaurants.jpg" class="card-img-top customimage" alt="Attraction Image">
                    <div class="card-body">
                        <h5 class="card-title">Restaurants</h5>
                        <p class="card-text">Discover delicious dining options.</p>
                        <a href="restaurants" class="btn btn-primary">Go to Restaurants</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/images/shareexperience.jpg" class="card-img-top customimage" alt="Attraction Image">
                    <div class="card-body">
                        <h5 class="card-title">Share Your Experience</h5>
                        <p class="card-text">Share your travel experiences with others.</p>
                        <a href="share" class="btn btn-primary">Go to Share</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
