body {
    background-image: url("images/attractions.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-color{
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}