body {
    background-image: url("images/coverphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.center-container {
    margin-top: 50px;
    margin-bottom: auto;
}

.center-height {
    margin-top: 100px
}